.background-blur{
    height: 100%;
    width: 100%;
    z-index: -999;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    animation: motion infinite 20s linear;
}

.content{
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, brown , blue);
    filter: blur(130px);
}

@keyframes motion {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}